/LudumeDare48/.vs
/LudumeDare48/*.sln
/LudumeDare48/DerivedDataCache/
/LudumeDare48/Intermediate/
/LudumeDare48/Saved/
/LudumeDare48/Binaries/
/LudumeDare48/Build/
/LudumeDare48/Content/Levels/*.uasset